<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fake News📰 Detection System</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="container">
    <h1 class="heading">Fake News📰 Detector</h1>

    <form action="{{ url_for('predict')}}" method="POST">
      <textarea name="message" rows="6" cols="50" required style="font-size: 18pt"></textarea>
      <br>
      <br>
      <button type="submit" class="btn">Predict</button>

      <div class="results">
        {% if prediction == ['FAKE'] %}
        <h2 class="prediction prediction-fake">Looking Spam⚠️News📰 Beware</h2>
        {% elif prediction == ['REAL'] %}
        <h2 class="prediction prediction-real">Looking Real News📰</h2>
        {% endif %}
      </div>
    </form>
  </div>
</body>
</html>
